@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Sans-serif:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

.row {
    margin-left: 0;
    /*helps remove unecessary white space on right vertical*/
    margin-right: 0;
    /*as above*/
}

hr {
    margin: 15px auto 10px;
    border-color: #6395F2;
}

/*---------------Colours - MonoChromatic Scheme--------------*/

.bg-color-blue-lightest {
    background-color: #DEE9FC;
}

.bg-color-blue-midlight {
    background-color: #6395F2;
}

.bg-color-blue-middle {
    background-color: #1258DC;
}

.bg-color-blue-middark {
    background-color: #0A337F;
}

.bg-color-blue-darkest {
    background-color: #091834;
}

/*------------Navbar----------------*/

.navbar {
    position: fixed;
    width: 100%;
    min-height: 50px;
    background: linear-gradient(#091834, #0A337F, #1258DC, #0A337F, #091834);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #091834;
    margin-bottom: 0px;
    z-index: 1;
}

.navbar a {
    color: #e6e6e6;
    font-size: large;
    font-weight: 200;
    text-decoration: none;
}

button.btn.btn-danger.navbar-btn {
	transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

button.btn.btn-danger.navbar-btn:hover {
    border-color: #ffffff;
	
}

/*----------Dropdown Navigation------*/

.dropdown-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

/*-------------Images------*/

.dash-background {
    
    position: relative;
    background: url(../images/Passion.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/*-------------Containers-------------*/

/* To include tailoring for Introduction / Gender / Summary / Events & Tickets */

.intro-container {
    margin-top: 50px;
}

.gender-container {
    margin-top: 50px;
}

.content-wrapper {
    width: 85%;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #fafafa;
    opacity: 0.8;
    margin: 12.5px 0;
    margin-left: 50px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eq-column-height {
    display: flex;
    flex-wrap: wrap;
}

/*------------Gender Article------------*/

.color-pink {
    color: #ff99ff;
}

.color-blue {
    color: #004d99;
}

.gender-box {
	margin-right: 0px;
	font-size: 1.4em;
    display: flex;
}

.gender-box, .fa.fa-gender {
    font-size: 30px;
    font-weight: 500;
}

.fa-gender {
	margin-right: 10px;
}

/*----------Performance Article-------------*/

.exam-average-results {
    display: flex;
    width: 100%;
}

.dot {
    cursor: none;
    height: 100px;
    width: 100px;
    margin: 0 2px;
    font-size: 70px;
    background-color: #091834;
    color: #DEE9FC;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*---------------Social Media---------------*/

/* To include styling for social media fonts > font awesome */

.bg-color-social-container {
    background-color: #000;
    min-height: 20px;
    margin: 0;
    padding-top: 10px;
}

.social-links-footer p {
    color: #e6e6e6; /*Light Grey*/
}

.social-links-footer li {
    color: #e6e6e6; /*Light Grey*/
}

.social-links-footer li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    /*Enables creation of circle where width & height of same value*/
    font-size: 13px;
    /*Enables icon to sit within border*/
    line-height: 7px;
    text-align: center;
    color: #000;
    /*Black*/
    background: #e6e6e6;
    /*Light Grey*/
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.fa-github:hover {
    background: #6e5494;
    /*GitHub Purple*/
    color: #fff;
}

.fa-linkedin:hover {
    background: #0077B5;
    /*LinkedIn Blue*/
    color: #fff;
}


/*-------------Block Dividers---------*/


/*---------------Buttons--------------*/

.hide-content-btn {
    float: right;
    color: #1258DC;
    cursor: pointer;
    font-size: 1.4em;
    padding-right: 5px;
}

/*--------------Media Queries---------*/


