@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Sans-serif:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

section {
    padding-bottom: 10px;
}

div.dc-chart { float: none!important; } /* Fix to a 'float-left' bug in Chrome */

hr {
    margin: 15px auto 10px;
    border-color: #6395F2;
}


/*---------------Colours - MonoChromatic Scheme--------------*/

.bg-color-blue-lightest {
    background-color: #DEE9FC;
}

.bg-color-blue-midlight {
    background-color: #6395F2;
}

.bg-color-blue-medium-one {
    background-color: #1258DC; 
}

.bg-color-blue-medium-two {
    background-color: #236AB9;
}

.bg-color-blue-middark {
    background-color: #0A337F;
}

.bg-color-blue-darkest {
    background-color: #091834;
}

/*------------Navbar----------------*/

.navbar {
    position: fixed;
    width: 100%;
    min-height: 50px;
    background: linear-gradient(#091834, #0A337F, #1258DC, #0A337F, #091834);
    border-color: #091834;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #091834;
    margin-bottom: 0px;
    z-index: 1;
}

.navbar a {
    color: #e6e6e6;
    font-size: large;
    font-weight: 200;
    text-decoration: none;
}



/*----------Dropdown Navigation------*/

.dropdown-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

/*-------------Images------*/

.dash-background {
    
    position: relative;
    background: url(../images/Cogs.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/*-------------Containers-------------*/

/* To include tailoring for Introduction / Gender / Summary / Events & Tickets */

.intro-container {
    margin-top: 60px;
    padding-left: 15px;
}

.gender-container {
    margin-top: 0px;
    margin-left: 0px;
    
}

.line-graph-container {
    padding-left: 30px;
    padding-right: 30px;
}

.math-vs-reading .reading-vs-writing .math-vs-writing .bar-chart-one .bar-chart-two .pie-chart-one .pie-chart-two {
    padding-left: 0px;
}

.content-wrapper {
    width: 95%;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #fafafa;
    opacity: 0.8;
    margin: 8px 0;
    margin-left: 10px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eq-column-height {
    display: flex;
    flex-wrap: wrap;
}

/*------------Gender Article------------*/

.color-pink {
    color: #ff99ff;
}

.color-blue {
    color: #004d99;
}

.gender-box {
	margin-right: 0px;
	font-size: 1.4em;
    display: flex;
}

.gender-box, .fa.fa-gender {
    font-size: 30px;
    font-weight: 500;
}

.fa-gender {
	margin-right: 10px;
	font-size: 40px;
}

/*---------------Social Media---------------*/

/* To include styling for social media fonts > font awesome */

.bg-color-social-container {
    background-color: #000;
    min-height: 20px;
    margin: 0;
    padding-top: 10px;
}

.social-links-footer p {
    color: #e6e6e6; /*Light Grey*/
}

.social-links-footer li {
    color: #e6e6e6; /*Light Grey*/
}

.social-links-footer li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    /*Enables creation of circle where width & height of same value*/
    font-size: 13px;
    /*Enables icon to sit within border*/
    line-height: 7px;
    text-align: center;
    color: #000;
    border-color: #000;
    /*Black*/
    background: #e6e6e6;
    /*Light Grey*/
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.social-links-footer img { /* link provided by www.jigsaw.w3.org not working, however, they confirmed css code is flawless */
    cursor: none;
}

.fa-github:hover {
    background: #6e5494;
    /*GitHub Purple*/
    color: #fff;
}

.fa-linkedin:hover {
    background: #0077B5;
    /*LinkedIn Blue*/
    color: #fff;
}

/*---------------Buttons--------------*/

.hide-content-btn {
    float: right;
    color: #1258DC;
    cursor: pointer;
    font-size: 1.4em;
    padding-right: 5px;
}

.reset-filters-top {
    margin: 0 20px 0px 35px;
    background-color: #DEE9FC;
    border-color: #DEE9FC;

}

.reset-filters-top:hover {
    background-color: #6395F2;
    /*purple*/
    border-color: #6395F2;
    color: #e6e6e6; /*Light Grey*/
    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.15s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.15s ease-in-out;
    /*Apple*/
}

/*--------------Media Queries---------*/

@media (max-width: 490px) { /*mobile - Enables reset button to be centered in mobile device view*/
    .reset-filters-top {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    
        
    }
}

@media (max-width: 490px) { /*mobile*/
    .intro-container {
        margin-top: 70px;
        
    }
}

@media (min-width: 768px) { /*tablet*/
    .gender-container {
        margin-top: 60px;
        padding-right: 33px;
        height: 45vh;
        
    }
}

@media (min-width: 768px) { /*tablet*/
    .line-graph-container {
        padding-right: 30px;
        
    }
}

@media (min-width: 768px) { /*tablet*/
    .math-vs-reading .reading-vs-writing .math-vs-writing .bar-chart-one .bar-chart-two .pie-chart-one .pie-chart-two {
        padding-right: 0px;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .intro-container {
       height: 56vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .gender-container {
        padding-right: 15px;
        height: 56vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .line-graph-container {
        padding-right: 0px;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .math-vs-reading {
        height: 62vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .reading-vs-writing {
        padding-left: 0px;
        height: 62vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .math-vs-writing {
        padding-left: 5px;
        padding-right: 28px;
        height: 62vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .bar-chart-one  {
        padding-right: 10px;
        height: 94vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .bar-chart-two  {
        padding-left: 0px;
        padding-right: 10px;
        height: 94vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .pie-chart-one  {
        padding-left: 0px;
        padding-right: 10px;
        height: 94vh;
    }
}

@media (min-width: 1200px) { /*desktop*/
    .pie-chart-two  {
        padding-left: 0px;
        padding-right: 35px;
        height: 94vh;
    }
}

