@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Sans-serif:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

div.dc-chart {
    float: none!important;
}

/* Fix to a 'float-left' bug in Chrome */

hr {
    margin: 15px auto 10px;
    border-color: #6395F2;
}

ul {
    /* removes bullet points from unordered list */
    list-style-type: none;
}

h5 {
    font-weight: 600;
}

/*---------------Colours--------------*/

/*--------- Navbar Scroll ----------- */
/* #DEE9FC - Light Blue */
/* #6395F2 - Powder Blue */
/* #1258DC - Royal Blue */
/* #236AB9 - Grey Blue */
/* #0A337F - Blue Ink */
/* #091834 - Dark Blue */

/*------------ Footer --------------- */
/* #E6E6E6 - Light Grey */
/* #343A40 - Charcoal Grey */

/*--------- Gender Container -------- */
/* #FF99FF - Pink */
/* #FF66FF - Pink */
/* #FF33FF - Pink */

/* #0080FF - Blue */
/* #0066CC - Blue */
/* #004D99 - Blue */

/*-------- Background Colours ------- */
/* #E6EEFF - Pale Blue */
/* #CCDDFF - Mid Blue */
/* #236AB9 - Sky Blue */

/*-------------- Graphs ------------- */
/* #009900, #99FF99, #0099CC - Green */
/* #0066FF, #99CCFF, #3366CC - Blue */
/* #CC0000, #FF6666 - Red */
/* #FFFF66 - Yellow */
/* #CC99FF - Purple */
/* #FF9933 - Orange */

/*--------------Buttons-------------*/
/* #F4511E - Orange */

/*------------Navbar----------------*/

.navbar {
    position: fixed;
    width: 100%;
    min-height: 50px;
    background: linear-gradient(#091834, #0A337F, #1258DC, #0A337F, #091834);
    border-color: #091834;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #091834;
    margin-bottom: 0px;
    z-index: 1;
}

.navbar a {
    color: #e6e6e6;
    font-size: large;
    font-weight: 200;
    text-decoration: none;
}

.mytitle {
  color: #E6EEFF;
}

/*----------Dropdown Navigation------*/

.dropdown-box { /* For student & gender dropdown data filters */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

/*-------------Images------*/

#intro-background { 
    /*Homepage image of a student*/
    position: relative; 
    background: url(../images/student-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    /*required to manage the horixontal centering of the*/
    /*group image design*/
} 

.text {
    /*Homepage title text - 'Student-Dash'*/
  background-color: #FFFFFF;
  /*White*/
  color: #000000;
  /*Black*/
  opacity: 1;
  font-size: 5vw; /* Responsive font size */
  font-weight: bold;
  margin: 10px auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 10%; /* Position text to the right */
  left: 50%; /* Position text in the middle */
  
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

/*-------------Containers-------------*/

/* To include tailoring for Introduction / Gender / Summary / Events & Tickets */

#dash-background {
    background-color: #E6EEFF;
}

.outer-container {
    /* Creates spacing below navbar and above footer */
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.content-wrapper { /* Consistent formatting of containers holding charts & information */ 
    border-radius: 0.5rem;
    background-color: #CCDDFF;
    /*Mid-Blue*/
    opacity: 0.8;
    margin: 1rem 0;
    padding: 1rem;
    height: auto;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eq-column-height {
    display: flex;
    flex-wrap: wrap;
}

/*------------Gender Article------------*/

.color-pink { /*female*/
    color: #FF99FF;
    animation: mypink 5s infinite;
}

@keyframes mypink {
    /*Female icon colour change is animated via 3 shades of pink*/
  from {color: #FF99FF;} /* 80% rgb(255, 153, 255) */
  to {color: #FF66FF;} /* 70% rgb(255, 153, 255) */
  to {color: #FF33FF;} /* 60% rgb(255, 153, 255) */
}

.color-blue { /*male*/
    color: #004D99;
    animation: myblue 5s infinite;
}

@keyframes myblue {
    /*Male icon colour change is animated via 3 shades of blue*/
  from {color: #0080FF;} /* 50% rgb(0, 77, 153) */
  to {color: #0066CC;} /* 40% rgb(0, 77, 153) */
  to {color: #004D99;} /* 30% rgb(0, 77, 153) */
}

.gender-box {
    margin-right: 0px;
    font-size: 1.4em;
    display: flex;
}

.gender-box,
.fa.fa-gender {
    font-size: 30px;
    font-weight: 500;
}

.fa-gender {
    margin-right: 10px;
    font-size: 40px;
}

/*---------------Charts---------------------*/

.intro-base {
    /*Padding used to align container to gender container*/
    padding-bottom: 1.2rem;
}

.bar-chart-1 {
    /*Padding used to align container to bar-chart 1 container*/
    padding-bottom: 1rem;
}

.pie-chart-2 {
    padding-bottom: 2rem;
}

.x-axis-label {
    /*Format text on x-axis or horizontal*/
    font-weight: 700;
}

.y-axis-label {
    /*Format text on y-axis or vertical*/
    font-weight: 700;
}

.dc-chart .axis text {
    font-size: 0.9em;
    padding-bottom: 1rem;
} 

#student-selector.dc-chart,
#gender-selector.dc-chart {
    color: #FFF;
}

.dc-select-menu {
    /*Sky-Blue*/
    background-color: #236AB9;
}

/*--------------Footer----------------------*/

#footer {
    background-color: #343A40;
    /*Charcoal Grey*/
    border-color: #343A40;
    /*Charcoal Grey*/
}

.footer-text li a {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    /*White*/
}

.footer-heading,
.lower-footer {
    color: #FFFFFF;
    /*White*/
}

.footer-text li a:hover {
    color: #F7BA00;
    /* Yellow */
}

/*---------------Social Media---------------*/

/* To include styling for social media fonts > font awesome */

.social-links {
    padding-bottom: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links li a i {
    width: 4rem;
    height: 4rem;
    padding: 1.8rem 0;
    border-radius: 50%;
    /*Enables creation of circle where width & height of same value*/
    font-size: 2rem;
    /*Enables icon to sit within border*/
    line-height: 0.4375rem;
    text-align: center;
    color: #fafafa;
    /*off-white*/
    background: #8f8f8f;
    /*pale grey*/
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
}

.social-links li a i:hover {
    background: #CCDDFF;
    /*Mid-Blue*/
    color: #343A40;
    /* Charcoal Grey */
    transform: scale(1.15);
    opacity: 0.9;
}

.social {
    color: #FFFFFF;
    /* White */
}

/*---------------Buttons--------------*/

/*Homepage button to access data dashbaord*/
.button {
  border-radius: 0.5rem;
  background-color: #F4511E;
  /*Orange*/
  border: none;
  color: #FFFFFF;
  opacity: 0.9;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1.25rem;
  width: 12rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
    /*Content of button after hover produces >> arrows to user*/
  content: '\00bb';
  position: absolute;
  color: #FFFFFF;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1.5625rem;
  color: #FFFFFF;
}

.button:hover span:after {
  opacity: 1;
  color: #FFFFFF;
  right: 0;
}
/* End of formatting for homepage button to data dashboard */

.hide-content-btn {
    /* Supporting the collapse/re-open of all charts and data help within the dashboard */
    float: right;
    color: #1258DC;
    cursor: pointer;
    font-size: 1.4em;
    padding-right: 5px;
}

.reset-filters-top {
    margin: 0 20px 0px 35px;
    background-color: #E6EEFF;
    border: 2px solid #F4511E;
    border-radius: 0.5rem;
}

.reset-filters-top:hover {
    /* reset button changes colour when hovered & clicked */
    background-color: #F4511E;
    /*Orange*/
    border-color: #F4511E;
    /*Orange*/
    color: #FFFFFF;
    /*White*/
    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.15s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.15s ease-in-out;
    /*Apple*/
}

.btn-up {
    /*top of page button found at the bottom of all the webpages*/
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #F4511E;
    /*Orange*/
    border: 2px solid #F4511E;
    color: #FFF;
    /*White*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 3rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-up:hover {
    /* top of page button change colour when hovered & clicked */
    transform: scale(1.25);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.fa-angle-double-up:hover {
    transform: scale(1.25);
}

.move-top {
    z-index: 99;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
    display: none;
}

.main-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-back {
    /*Back button to help user return to homepage*/
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #E6EEFF;
    /*Pale Blue*/
    border-color: #F4511E;
    /*Orange*/
    color: #222629;
    /*Dark Slate*/
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    width: 8rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-back:hover {
    /* back button change colour when hovered & clicked */
    background-color: #F4511E;
    /*Orange*/
    border-color: #F4511E;
    /*Orange*/
    color: #FFF;
    /*White*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

/*--------------Media Queries---------*/

/* Media queries have set set at 490px, 768px, 1200 px & 1440px to help manage good responsiveness for this software */ 

@media (min-width: 667px) and (orientation: landscape) {
    /*Mobile view in landscape mode*/
    .gender-base,
    .bar-chart-2 {
        /*Aligns containers*/
        padding-bottom: 3.8rem;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    /*Tablet view in portrait mode*/
    .intro-base {
        /*Aligns containers*/
        padding-bottom: 3.2rem;
    }
    .bar-chart-2 {
        padding-bottom: 4rem;
    }
    .pie-chart-1 {
        padding-bottom: 2rem;
    }
}

@media (min-width: 1024px) {
    /* Tablet */
    .intro-base {
        /*Aligns containers*/
        margin-bottom: 5.3rem;
    }
    .bar-chart-1 {
        /*Aligns containers*/
        padding-bottom: 4.8rem;
    }
}

@media (min-width: 700px) and (orientation: portrait) {
    /* Desktop view in landscape mode */
    .gender-base {
        padding-bottom: 4rem;
    }
    .bar-chart-2 {
        padding-bottom: 4rem;
    }
}

@media (min-width: 1200px) {
    /* Desktop */
    .bar-chart-2 {
        /*Aligns containers*/
        padding-bottom: 5.8rem;
    }
}

@media (min-width: 1440px) {
    /* Larger Desktop */
    .pie-chart-1 {
        /*Aligns containers*/
        padding-bottom: 2rem;
    }
    #nutrition-analysis.dc-chart.svg viewBox {
        height: 300px;
         
    }
}

@media (min-width: 1770px) and (max-width: 4000px) {
    /* Larger Desktop */
    .line-chart.hide-content-toggle {
        /*Aligns containers*/
        margin-right: 7vw;
    }
    .gender-chart.hide-content-toggle {
        /*Aligns containers*/
        margin-right: 4vw;
    }
    .intro-base {
        padding-bottom: 5.3rem;
    }
    .bar-chart-2 {
        padding-bottom: 7.75rem;
    }
    .pie-chart-2 {
        padding-bottom: 4rem;
    }
}
